div
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.container
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.column
{
	float: left;
}

.column1
{
	width:70%;
}

.column2
{
	width:29%;
}

.row
{
	border:1px solid black;
}

.column2 .row1
{

}

.column2 .row2
{

}

.cover
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: #1f004d;
	opacity: 0.7;
}

.coverContainer
{
	position: relative;
	z-index: 6;
	text-align: center;
	/*padding-top: 200px;*/
	padding-top: 5%;
	/*max-width: 70%;*/
}

.coverContainer ul
{
	list-style: none;
	padding: 0px;
}

.coverContainerContents
{
	/*margin: 0px;*/
	background-color: #efe;
	border-radius: 10px;
	padding: 15px;
	display: inline-block;
}

@keyframes flashLoggerMessage
{
	0% {background-color: white; color:black;}
	50% {background-color: black; color:white;}
	100% {background-color: white; color:black;}
}

#logger
{
	/*height: 400px;*/
	overflow: scroll;
	/*animation-play-state:paused;*/
    /*animation-name: flashLoggerMessage;*/
    animation-duration: 1s;
}

*
{
	font-family: Courier New;
}

span.name0
{
	color:white;
	background-color: #f00;
}

span.name1
{
	color: black;
	background-color: #0f0;
}

span.name2
{
	color: white;
	background-color: #00f;
}

span.name3
{
	color: black;
	background-color: #0ff;
}

span.name4
{
	color:black;
	background-color: #f0f;
}

span.name5
{
	color:black;
	background-color: #ff0;
}

span.rolled
{
	color: white;
	background-color: black;
}

span.black {
  color: black;
}

span.white {
  color: white;
}

div#logger p:first-child
{
	font-size: 200%;
	font-weight: bold;
}

.token
{
	border: 1px dashed black;
	border-radius: 2px;
	background-color: #fc0;
	color: black;
}

div#tokenTracker table
{
	border-collapse: collapse;
}

div#tokenTracker table tr td,th
{
	text-align: center;
	border: 1px solid black;
}

.carpathia
{
	color:#ff5c00;
	background-color: #444;
}

.biggerArrow
{
	font-size: 150%;
}

li:hover label
{
	color:white;
}

.bigButton
{
	font-size: 400%;
}